.site-inner,
.wrap {
	@include outer-container;
	padding-left:5%;
	padding-right:5%;
}

.site-inner	 {
	clear: both;
	padding-top: rem(40);
	@include outer-container;
	@include media(1300px) {
		padding-left:rem(15);
		padding-right:rem(15);
	//	max-width:100%;
	}
}

.wrap {
	@include media($large-screen-up) {
		padding-left:0;
		padding-right:0;
	}
}