/* Mobile specific menu functionality and toggles
* Want to disable the mobile menu and use a different one?
* Comment out everything until the End flag below and disable
* the JS in common.min.js
----------------------------------------------------------*/

$navigation-break-point: $large-screen;
$mobile: new-breakpoint(max-width rem(800) 12);

nav {
    display: none;
    position: relative;
    clear: both;

    @include media($navigation-break-point) {
        display: block !important;
    }
}

.menu-toggle,
.sub-menu-toggle {
    border-radius: 0;
    display: block;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    overflow: hidden;
    padding: rem(10);
    text-align: center;
    visibility: visible;
    width: rem(60);
    line-height:.9;

    @include media($navigation-break-point) {
        display: none;
        visibility: hidden;
    }
}

button.menu-toggle {
    background: $medium-gray;
    color: #fff;
    float: right;
    border-radius: 3px;
    margin:rem(24) 0 0;
    padding:rem(10);
    text-align:center;
    width:rem(48);
}

button.sub-menu-toggle {
    background-color: #fff;
    color: #999;
}

.sub-menu-toggle {
    padding: 13px;
    padding: 1.3rem;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-toggle:before {
    content: "\2261";
    margin:0 auto;
    text-align:center;
}

.menu-toggle.activated:before {
    content: "\2191";
    position: relative;
}

.menu-toggle:after {
    //    font-size:18px;
    //    font-weight:300; 
    //    content: "Menu";
}

.menu-toggle.activated:after {
    content: "";
}

button.menu-secondary {
    background: #fff;
    color: #333;
}

button.menu-toggle-secondary {
    background: #fff;
    color: #333;
}

.sub-menu-toggle:before {
    content: "+";
}

.sub-menu-toggle.activated:before {
    content: "-";
}


/* End Mobile Menu Specific Styles
----------------------------------*/

.genesis-nav-menu {
    clear: both;
    font-size: $base-font-size;
    line-height: 1;
    width: 100%;

    a {
        &:hover {
            color: $blue;
        }

        color: $base-font-color;
        display: block;
        padding: rem(29) rem(24);
        border-bottom: 1px solid $light-gray;

        @include media($large-screen-up) {
            border-bottom: 0;
        }
    }

    // End .genesis-nav-menu a

    .menu-item {
        //  background-color:#f5f5f5;
        display: block;
        position: relative;
        text-align: left;

        @include media($navigation-break-point) {
            display: inline-block;
        }
    }

    // End menu item

    .sub-menu {
        @include transition(opacity 0.4s ease-in-out);

        clear: both;
        display: none;
        opacity: 1;
        position: static;
        width: 100%;

        @include media($navigation-break-point) {
            display: block;
            left: -9999px;
            opacity: 0;
            position: absolute;
            width: rem(200);
            z-index: 99;
        }


        .sub-menu .sub-menu a {
            &:hover {
                color: $blue;
            }

            @include media($mobile) {
                padding-left: rem(120);
                border-color: transparent;
            }
        }

        .sub-menu a {
            @include media($mobile) {
                padding-left: rem(60);
                border-color: transparent;
            }
        }

        a {
            &:hover {
                color: $blue;
            }

            @include media($mobile) {
                padding-left: rem(30);
                color: $base-font-color;
                border-color: transparent;

                &:before {
                    content: "\2014";
                    margin-right: 5px;
                }
            }
        }
    }

    // End genesis-nav-menu .sub-menu
}

// End genesis-nav-menu

.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: $blue;
}

.genesis-nav-menu .sub-menu a {
    width: auto;
    position: relative;
    border-left: 0;

    @include media($navigation-break-point) {
        background-color: #fff;
        border: 1px solid #eee;
        border-top: none;
        font-size: 14px;
        padding: 20px;
        width: rem(200);
    }
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: 0;

    @include media($navigation-break-point) {
        margin: -55px 0 0 199px;
    }
}

.genesis-nav-menu .menu-item:hover {
    position: relative;

    @include media($navigation-break-point) {
        position: static;
    }
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}

.genesis-nav-menu > .first > a {
    padding-left: 0;
}

.genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu > .right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: rem(30) 0;
}

.genesis-nav-menu > .right > a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu > .rss > a {
    margin-left: 48px;
}

.genesis-nav-menu > .search {
    padding: 10px 0 0;
}

/*----Carets for large screen navigation--
------------------------------------------*/
@include media($navigation-break-point) {
    .menu-item-has-children > a {
        &:after {
            margin-left: 5px;
            content: "\25BC";
            font-size: rem(12);
        }
    }

    .sub-menu {
        .menu-item-has-children > a {
            &:after {
                content: "\25B6";
            }
        }
    }
}


/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
    border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
    @include media($large-screen-up) {
    margin-top: -56px;
    }
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

@include media($navigation-break-point) {
    .nav-primary {
        //background-color: #333;

        .genesis-nav-menu {
            a {
                &:hover,
                .current-menu-item > a,
                .current-menu-item > a:hover {
                    color: lighten($blue, 10);
                }

                color: $action-color;
            }

            .sub-menu {
                a {
                    color: #333;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}


/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
    background-color: #fff;
}