
.pagination {
	clear: both;
	margin: rem(40) 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: rem(16);
	padding: rem(8) rem(12);
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #e5554e;
}