
.sidebar {
	@include direction-context(right-to-left) {
	@include span-columns(12 of 12);
	font-size: rem(16);
	@include media($large-screen-up) {
	@include span-columns(4 of 12);
		}
	}
}

.sidebar li {
	border-bottom: 1px dotted #ddd;
	margin-bottom: rem(10);
	padding-bottom: rem(10);
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
	margin-bottom:$base-spacing;
	@include media($medium-screen-up) {
	padding: rem(40);
	}
}
